{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>catsite</title>
    <link rel="stylesheet" type="text/css" href="{% static 'copycat/css/style.css' %}">
    <script type="text/javascript">
      function disp(){
        let element = document.getElementById("id_files").value;
        let filename = element.split(/(\\|\/)/g).pop();
        let forminput = document.getElementById("fileinput");
        forminput.value = filename; 
        localStorage.setItem('filename', filename);
        alert(filename + "を確認しました");
      }
      window.addEventListener('load', () => {
        let forminput = document.getElementById("fileinput");
        let filename = localStorage.getItem('filename');
        if (filename) {
          forminput.value = filename;
        }
      });
    </script>
  </head>
  <header>
  </header>
  <body>
    <h1>①動画をアップロード↓</h1>
    <p>解析したいmp4ファイルを選択してください：<br>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="submit" type="file" id="checkfile" name="testfile" onclick="disp()">
      </form>
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    <h1>②条件を指定↓</h1>


      <form method="POST">
        <p>ファイル名：<input type="text" id="fileinput" name="input_num1" required
          minlength="4" maxlength="100" size="10">
          {% csrf_token %}
          （.mp4まで含め入力）</p>

        <p>最初の音　：<input type="text" id="name" name="input_num2" required
          minlength="2" maxlength="2" size="10">
          {% csrf_token %}
          （左端の鍵盤をA0からC9までで入力）</p>

        <p>曲のテンポ：<input type="text" id="name" name="input_num3" required
          minlength="3" maxlength="3" size="10">
          {% csrf_token %}
          （BPMを3桁の算用数字で入力）</p>

        <p>開始時間　：<input type="text" id="name" name="input_num4" required
          minlength="1" maxlength="1000" size="10">
          {% csrf_token %}
          （最初にスキップしたい時間を入力）</p>

        <p>鍵盤の色　：<input type="text" id="name" name="input_num5" required
          minlength="7" maxlength="7" size="10">
          {% csrf_token %}
          （RGBカラーを指定し入力）</p>
        <button type="submit">実行</button>
        <input type="reset" name="Submit" value="入力値をリセット">
      </form>

    <h1>③解析結果↓</h1>
    <div class="box">
      <p>
      {% block content %}
      <h1>実行結果:</h1>
      <pre>{{ result }}</pre>
    {% endblock %}
      </p>
    </div> 
    <button onclick="window.location.href=window.location.origin+window.location.pathname">最初の状態に戻る</button>
  </body>
</html>